<div>
    <h2 id="page-heading">
        <span jhiTranslate="monitoringsystemApp.magnetometerReadings.home.title">Magnetometer Readings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-magnetometer-readings" [routerLink]="['/magnetometer-readings/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="monitoringsystemApp.magnetometerReadings.home.createLabel">
            Create a new Magnetometer Readings
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="magnetometerReadings?.length === 0">
        <span jhiTranslate="monitoringsystemApp.magnetometerReadings.home.notFound">No magnetometerReadings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="magnetometerReadings && magnetometerReadings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="monitoringsystemApp.magnetometerReadings.x">X</span></th>
                    <th scope="col" ><span jhiTranslate="monitoringsystemApp.magnetometerReadings.y">Y</span></th>
                    <th scope="col" ><span jhiTranslate="monitoringsystemApp.magnetometerReadings.z">Z</span></th>
                    <th scope="col" ><span jhiTranslate="monitoringsystemApp.magnetometerReadings.sensingNode">Sensing Node</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let magnetometerReadings of magnetometerReadings ;trackBy: trackId">
                    <td><a [routerLink]="['/magnetometer-readings', magnetometerReadings.id, 'view']">{{ magnetometerReadings.id }}</a></td>
                    <td>{{ magnetometerReadings.x }}</td>
                    <td>{{ magnetometerReadings.y }}</td>
                    <td>{{ magnetometerReadings.z }}</td>
                    <td>
                        <div *ngIf="magnetometerReadings.sensingNodeId">
                            <a [routerLink]="['/sensing-node', magnetometerReadings.sensingNodeId , 'view']" >{{ magnetometerReadings.sensingNodeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/magnetometer-readings', magnetometerReadings.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/magnetometer-readings', magnetometerReadings.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(magnetometerReadings)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
