<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pollutionReadings">
            <h2><span jhiTranslate="monitoringsystemApp.pollutionReadings.detail.title">Pollution Readings</span> {{ pollutionReadings.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="monitoringsystemApp.pollutionReadings.co2">Co 2</span></dt>
                <dd>
                    <span>{{ pollutionReadings.co2 }}</span>
                </dd>
                <dt><span jhiTranslate="monitoringsystemApp.pollutionReadings.sound">Sound</span></dt>
                <dd>
                    <span>{{ pollutionReadings.sound }}</span>
                </dd>
                <dt><span jhiTranslate="monitoringsystemApp.pollutionReadings.sensingNode">Sensing Node</span></dt>
                <dd>
                    <div *ngIf="pollutionReadings.sensingNodeId">
                        <a [routerLink]="['/sensing-node', pollutionReadings.sensingNodeId, 'view']">{{ pollutionReadings.sensingNodeId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pollution-readings', pollutionReadings.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
